/* Général */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: var(--font-stack);
	min-height: 100vh;
	min-height: 100dvh;
}
img,
svg {
	max-width: 100%;
}
ul {
	list-style-type: none;
}
a {
	color: inherit;
	text-decoration: none;
}
/* Utility */
.hidden {
	display: none;
}
.bold {
	font-weight: bold;
}
.underline {
	text-decoration: underline;
}
.section-padding-l {
	padding-inline: clamp(1rem, 8vw, 2rem);
}
.section-padding-m {
	padding-inline: clamp(2rem, 8vw, 3rem);
}
.section-padding-s {
	padding-inline: clamp(3rem, 8vw, 4rem);
}
