:root {
  --color-primary: hsl(0, 0%, 100%);
  --color-secondary: hsl(0, 0, 0);
  --color-accent-dark: hsl(164, 83%, 28%);
  --color-accent: hsl(164, 83%, 38%);
  --color-accent-light: hsl(164, 50%, 86%);
  --font-stack: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  	Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-size-xl: 70px;
  --font-size-l: 50px;
  --font-size-ml: 38px;
  --font-size-m: 30px;
  --font-size-s: 20px;
  --font-size-xs: 18px;
  --font-size-text: 22px;
}

/* Nav */
body {
  overflow-x: hidden;
}

header {
  position: relative;
  background-color: var(--color-accent);
  z-index: 10;
}

.nav {
  max-width: 1620px;
  margin-inline: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  background-color: var(--color-accent);
  color: var(--color-primary);
  font-size: var(--font-size-s);
  padding-block: clamp(1em, 3vw, 1.4em);
  padding-inline: clamp(1.5em, 4.5vw, 2.5em);
}
.nav .logo-cont {
  width: min(60%, 220px);
  display: flex;
}
.nav .nav__list {
  width: min(100%, 930px);
  padding-block: 1em;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-accent);
  transition: 0.3s ease-in-out;
  background-color: var(--color-accent);
}
.nav .nav__item {
  padding: 0.25em 0.5em;
  display: block;
  border-radius: 4px;
}
.nav .nav__item:focus-visible {
  outline: 2px solid currentColor;
}
.nav .nav__item:is(:hover, :focus-visible) {
  text-decoration: underline;
}
.nav .nav__item > i {
  margin-inline: 0.4em;
  transition: 0.1s ease-out;
}
.nav .nav__item--dropdown {
  position: relative;
}
.nav .nav__item--dropdown:is(:hover, :focus-within) > a i {
  transform: rotate(-90deg);
  vertical-align: middle;
}
.nav .nav__item--accent {
  color: var(--color-accent);
  background-color: var(--color-primary);
  font-weight: 600;
  border-radius: 5rem;
  padding: 0.5em 1.25em;
}
.nav .nav__dropdown {
  display: none;
  flex-direction: column;
  font-size: inherit;
  gap: 0.85em;
  padding: 0.5em;
  border-radius: 8px;
  position: absolute;
  top: 100%;
  left: -1.5em;
  background-color: var(--color-accent);
  color: var(--color-primary);
  width: max-content;
  box-shadow: 0 0 6px 2px var(--color-accent-dark);
}
.nav .nav__dropdown i {
  margin-left: 0;
  vertical-align: middle;
}
.nav .nav__list:hover .nav__item--dropdown:hover .nav__dropdown, .nav .nav__item--dropdown:focus-within .nav__dropdown {
  display: flex;
}

@media (width < 1180px) {
  .nav .nav__list {
    width: min(450px, 100%);
    position: absolute;
    top: 100%;
    right: 0;
    translate: 100% 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    border-bottom-left-radius: 8px;
  }
  .nav .nav__list.open {
    translate: 0;
    box-shadow: 0 0 6px 2px var(--color-accent-dark);
  }
  .nav .nav__list:has(.nav__item:focus-visible) {
    translate: 0;
    transition: none;
  }
  .nav .nav__dropdown {
    display: flex;
    position: relative;
    left: 0;
    top: 0;
    box-shadow: none;
    background: transparent;
  }
  .nav .nav__item--dropdown:is(:hover, :focus-within) > a i {
    transform: none;
  }
  .nav__item--dropdown > a i {
    display: none;
  }
}
/* Menu Burger */
.burger {
  position: relative;
  width: 60px;
  aspect-ratio: 1;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  z-index: 100;
}
.burger .burger__line {
  height: 5px;
  width: 100%;
  background-color: var(--color-primary);
  border-radius: 50px;
  position: relative;
  transition: 0.5s, background-color 0.25s;
}
.burger .burger__line::before, .burger .burger__line::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: var(--color-primary);
  transition: 0.3s;
}
.burger .burger__line::before {
  top: -12px;
}
.burger .burger__line::after {
  top: 12px;
}
.burger.open .burger__line {
  background-color: transparent;
}
.burger.open .burger__line::before {
  top: 0;
  rotate: -45deg;
}
.burger.open .burger__line::after {
  top: 0;
  rotate: 45deg;
}

@media (width >= 1180px) {
  .burger {
    display: none;
  }
}
.temoin {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  padding-top: 4rem;
}
.temoin h2 {
  text-wrap: balance;
}
.temoin h3 {
  font-size: 2rem;
}
.temoin > div {
  flex: 1 0 min(520px, 100%);
  padding-inline: clamp(2rem, 8vw, 4rem);
}
.temoin .content-cont h2 {
  padding-bottom: 0;
}
.temoin ul {
  list-style: none;
  display: grid;
  gap: 1em;
  margin-top: 2em;
}
.temoin .content-cont li {
  position: relative;
  font-size: clamp(1.1rem, 1.0333rem + 0.2667vw, 1.25rem);
}
.temoin .content-cont li::before {
  content: "";
  display: inline-block;
  background-color: #11b286;
  width: 0.8em;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-right: 1.15em;
  vertical-align: baseline;
}
.temoin .video-cont {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 2rem;
  padding-inline: clamp(3rem, 7vw, 5rem);
  position: sticky;
  top: 5rem;
  max-width: 700px;
  margin-inline: auto;
}
.temoin .video-cont video {
  --shadow-offset: clamp(1rem, 5vmin, 3rem);
  --shadow-color: var(--color-accent-light);
  z-index: -1;
  width: min(800px, 100%);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: calc(-1 * var(--shadow-offset, 2rem)) var(--shadow-offset, 2rem) var(--shadow-color), var(--shadow-offset, 2rem) var(--shadow-offset, 2rem) var(--shadow-color);
}

.application {
  background-color: var(--color-accent-light);
  padding-block: 2rem;
}
.application h2 {
  text-align: center;
}
.application .content-cont {
  display: flex;
  flex-wrap: wrap;
}
.application .content-cont > div {
  flex: 1 0 500px;
  padding-inline: clamp(3rem, 7vw, 5rem);
}
.application .content-cont > div h3 {
  font-size: 2rem;
  text-wrap: balance;
  color: #000000;
}
.application .content-cont > div p {
  font-size: 1.3rem;
  margin-block: 1em 1.6em;
  text-align: left;
}
.application .content-cont > div a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #11b286;
  padding: 0.5em 1.4em;
  border-radius: 3rem;
  font-size: 1.15rem;
  box-shadow: 0 6px 16px rgba(20, 178, 134, 0.48);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.application .content-cont > div a:hover {
  scale: 1.05;
}
.application .content-cont > div .image-cont {
  width: min(560px, 100%);
  margin-inline: auto;
  background-image: radial-gradient(circle, #11b286 0% 50%, transparent 50%);
}

@media (width < 1000px) {
  .application .content-cont > div:last-of-type .image-cont {
    display: none;
  }
}
/* Login */
.registration {
  position: relative;
  display: flex;
  flex-direction: column;
}
.registration header {
  padding: 2rem 2.6rem;
  position: absolute;
  top: 0;
  left: 0;
}
.registration header .logo-cont {
  width: min(60%, 220px);
}
.registration main {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-block: auto;
}
.registration .illustration-cont {
  width: min(100%, 780px);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  pointer-events: none;
}
.registration .form-cont {
  width: min(100%, 700px);
  z-index: 2;
  margin-block: 6em;
  margin-left: auto;
}
.registration form {
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.8745098039);
  backdrop-filter: blur(4px);
  width: min(40ch, 100%);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.75em;
  color: var(--color-dark-gray);
}
.registration h1 {
  font-size: 2.4rem;
  font-weight: 700;
}
.registration label {
  cursor: pointer;
}
.registration label, .registration input {
  font-size: 1.35rem;
  transition: 0.1s ease-in-out;
}
.registration i {
  color: inherit;
  font-size: 1.1em;
  margin-right: 0.85em;
  vertical-align: text-bottom;
}
.registration input {
  border: 3px solid transparent;
  border-bottom-color: var(--color-dark-gray);
  outline: none;
  background: none;
}
.registration input:focus {
  border-bottom-color: var(--color-accent);
}
.registration label:has(~ input:focus) {
  color: var(--color-accent);
}
.registration .field-cont {
  display: grid;
  gap: 1em;
  margin-top: 3rem;
}
.registration .button-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5em 2em;
  margin-top: 1.65rem;
}
.registration button {
  cursor: pointer;
  background-color: var(--color-accent);
  color: var(--color-background);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  padding: 0.7em 1.45em;
  transition: 0.15s ease-in-out;
  outline: 3px solid transparent;
}
.registration button:is(:hover, :focus-visible) {
  scale: 1.05;
}
.registration button:focus-visible {
  outline: 3px solid var(--color-accent);
  outline-offset: 3px;
}
.registration .data-form-result {
  margin-top: 1.65rem;
}
.registration .data-form-result :where(p, label) {
  color: inherit;
  font-size: 1rem;
  cursor: pointer;
}
.registration .data-form-result p {
  position: relative;
  text-align: center;
}
.registration [data-error] {
  color: var(--color-error);
}
.registration [data-success] {
  color: var(--color-accent);
}

/*# sourceMappingURL=style.css.map */
